* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    background-color: #202020;
    color:black;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: black; */
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .header {
    padding: 20px;
    background-color: #333;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 80px;
  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: white ;
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul {
    display: block;
  }
  .header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
  }
  .header .links ul li a:hover {
    padding-left: 25px;
  }
  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }
  .landing {
    /* background-color: #202020; */
    background: url(../image/6699.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    position: relative;
  }
  .landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 650px;
    max-width: 100%;
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: wheat;
  }
  .landing .intro-text p {
    font-size: 25px;
    line-height: 1.8;
    color: wheat;

  }
  /* End Landing Section */
  /* Start Features */
.features {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #333;
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  .features .feat {
    padding: 20px;
    text-align: center;
  }
  .features .feat i {
    color: wheat;
  }
  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }
  .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  .feat{
   text-align: center;
   color: wheat;
   padding:20px ;
   margin-top: 20px;
   background-color: #202020;
   border-top: solid 2px white;
   margin-bottom: 50px;

  }
  .featt{
    text-align: center;
    color: rgb(172, 135, 43);
    padding:20px ;
    margin-top: 20px;
    background-color: #202020;
    border-top: solid 2px white;
    
 
   }
  /* End Features */
  /* الاسعار */
  /* Start Components */
.special-heading {
    color: wheat;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
    .special-heading + p {
      margin-top: -20px;
    }
  }
  /* End Components */
  /* Start Services  */
.services {
    padding-top: 30px;
    /* padding-bottom: 30px; */
  }
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
  }
  .services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
  }
  .services .services-content .srv i {
    color: white;
    flex-basis: 60px;
  }
  .services .services-content .srv .text {
    flex: 1;
  }
  .services .services-content .srv .text h3 {
    margin: 0 0 20px;
  }
  .services .services-content .srv .text p {
    color: white;
    font-weight: 300;
    line-height: 1.6;
  }
  .services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before {
    content: "";
    /* background-color: white; */
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .services .services-content .image img {
    width: 260px;
  }
  @media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  }
  .ser{
    background-color: #333;
  }
  .golg{
    color: white;
  }
  .text{
    color: whitesmoke;
  }
  .text_p{
    color: white;
  }
  /* Start About */
.about {
  border-top: solid white 3px;
    padding-top: #333; 
    padding-bottom: 10px;
     background-color: black;
  }
  .about .about-content {
    background-color: black;

    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #333;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #333;
    border-bottom: 80px solid #333;
    z-index: -1;
    right: -150px;
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
  }
  .about .about-content .image img {
    max-width: 100%;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color:#333;
  }
  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }
  /* End About */
  button {
    border-radius: 30px;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    background-color: #171516;
    border: 1px solid #fff;
    color: white;
    border-radius: 6px;
    margin: 0 10px;
   
  }
  button:hover{
    background-color: #f6f6f6;
    color: black;

  }
  .down{
    background-color: black;

  }
  .m_h{
    margin-top: 50px;
    font-size: 30px;
  }
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text_p{
    font-size: 30px;
    color: wheat;
    text-align: center;
    padding: 20px;
    /* margin-top: 20px; */
  }
  .photo{
    background-color: #333;
    border-top: solid 3px white;
    z-index: 222;
    padding-bottom: 50px;

    
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  }
  .t_con{
    font-size: 30px;
    color: wheat;
    text-align: center;
    padding: 20px;

  }
  
  form {
    padding-left:25px;
    padding-right:25px;
    padding-top:60px;
    margin: 12px auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    position:relative;
    z-index:1;
    margin-top: 60px;
  }
  
  form > div{
    position:absolute;
    top:0;
    left:50%;
    padding:0 20px;
    transform:translate(-50%,-50%);
    background-color:black;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align:center;
    
  }
  
  form > div > img{
    filter:invert(1);
    width:100px;
  }
  
  form > input,
  form > textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    color: #ddd;
    background-color: #222;
    border-radius: 4px;
    display: block;
    width: 70vw;
  }
  
  form > textarea{
    height:100px;
    resize:none;
  }
  
  form > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
  }
  
  form > input[type="submit"]:hover {
    background-color: #555;
  }
  .con{
    background-color: #000;
    padding-top: 40px;
    border-top: white solid 3px;
    padding-bottom: 350px;
  }
  * {
    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  }
  
  body {
    background: #fcfcfc;
  
    font-family: sans-serif;
  }
  
  footer {
    position: absolute;
  
    bottom: 0;
  
    left: 0;
  
    right: 0;
  
    background: #111;
  
    height: auto;
  
    width: 100vw;
  
    padding-top: 40px;
  
    color: #fff;
  }
  
  .footer-content {
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    flex-direction: column;
  
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
  
    font-weight: 500;
  
    text-transform: capitalize;
  
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
  
    margin: 10px auto;
  
    line-height: 28px;
  
    font-size: 14px;
  
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
  
    color: #fff;
  
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
  
    width: 20px;
  
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: aqua;
  }
  
  .footer-bottom {
    background: #000;
  
    width: 100vw;
  
    padding: 20px;
  
    padding-bottom: 40px;
  
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
  
    font-size: 14px;
  
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #ccc;
  
    font-size: 16px;
  
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
  
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
  
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #27bcda;
  }
  
  @media (max-width: 500px) {
    .footer-bottom p {
      float: none;
    }
  
    .footer-menu ul {
      display: flex;
  
      margin-top: 10px;
  
      margin-bottom: 20px;
  
      text-align: center;
    }
  }
  .text_app{
    font-size: 25px;
  }
  